/* Website temlate by freewebsitetemplates.com */
body {
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
	overflow-x: hidden;
}
body #page {
	background: url("../images/stars.jpg") repeat scroll center top #000000;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: auto;
	z-index: 3;
}
a {
	text-decoration: none;
	outline: none;
}
a:active {
	background: none;
}
img {
	border: none;
}
/*-------------------------------------------FONTS---------------------------------------------*/
@font-face {
	font-family: 'audiowide-regular-webfont';
	src: url('../fonts/audiowide-regular-webfont.eot');
	src: url('../fonts/audiowide-regular-webfont.woff') format('woff'), url('../fonts/audiowide-regular-webfont.ttf') format('truetype'), url('../fonts/audiowide-regular-webfont.svg') format('svg');
}
/*----------------------------------------header-styles---------------------------------------*/
#header {
	background: url(../images/bg-transparent1.png) repeat;
	margin: 0;
	min-height: 60px;
	padding: 0;
	width: auto;
}
#header div {
	margin: 0 auto;
	max-width: 940px;
	min-height: 60px;
	padding: 0 10px;
}
.logo {
	position: absolute;
	display: inline;
	width: 500px;
	margin: 0 44px 0 0;
	padding: 0;
	transform: translate(85px);

}

#header div ul {
	display: inline-block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: auto;
}
#header div ul li {
	float: left;
	margin: 0;
	padding: 0;
	width: auto;
	position: relative;
	z-index: 20;
}


#header div ul li a {
	color: #ffffff;
	display: block;
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	line-height: 59px;
	margin: 0;
	min-height: 60px;
	padding: 0 24px;
	text-align: center;
	text-transform: uppercase;
	width: auto;
}

#header div ul li a:hover {
	background-color: #620031;
	color: #ffffff;
}

#header div ul li.selected a {
	background-color: darkorange;
	color: #a3a3a3;
}
#header div ul li.menu {
	position: relative;
}
#header div ul li.menu ul {
	display: block;
	left: -99999px;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 60px;
	width: 142px;
	z-index: 50;
}
#header div ul li.menu:hover ul.primary {
	left: 31px;
}
#header div ul li.menu ul.primary.selected {
	left: 31px;
}
#header div ul li.menu:hover ul.secondary {
	left: -20px;
}
#header div ul li.menu ul.secondary.selected {
	left: -20px;
}
#header div ul li.menu ul li {
	margin: 0;
	padding: 0;
	width: auto;
}
#header div ul li.menu ul li a {
	background-color: #620031;
	color: #ffffff;
	display: block;
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	line-height: 60px;
	margin: 0;
	min-height: 60px;
	padding: 0 10px;
	text-align: center;
	text-transform: uppercase;
	width: auto;
}
#header div ul li.menu ul.primary.selected li a, #header div ul li.menu ul.secondary.selected li a {
	background-color: #000000;
	color: #a3a3a3;
}
/*----------------------------------------body-home-styles---------------------------------------*/
#body {
	background-color: #000000;
	margin: 0;
	min-height: 808px;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#body.home {
	background: none;
	margin: 0;
	min-height: 1308px;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#body.home .header {
	background: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#body.home .header div {
	margin: 0 auto;
	max-width: 940px;
	max-height: 600px;
	overflow: hidden;
	padding: 0 10px;
	position: relative;
}

#body.home .header div h1 {

	background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
  	background-size: 800% 800%;
  	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
  	font-size: 24px;
  	animation: rainbow 8s ease infinite;

	display: block;
	float: center;
	font-family: audiowide-regular-webfont;
	font-size: 60px;
	font-weight: normal;
	line-height: 60px;
	margin: 160px 0 27px;
	padding: 0 38px 0 399px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	width: 703px;
	z-index: 60;
	transform: translate(-300px,-50px);
}
 /*Colourful Title Text*/
@keyframes rainbow { 
    0%{background-position:0% 50%}
    50%{background-position:100% 25%}
    100%{background-position:0% 50%}
 }

#body.home .header div h2 {
	color: #FFFFFF;
	display: block;
	float: right;
	font-family: Arial;
	font-size: 43px;
	font-weight: normal;
	line-height: 43px;
	margin: 0 0 50px;
	padding: 0 130px 0 506px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	width: 288px;
	z-index: 60;
	transform: translate(-200px,-220px);
}

/* Attempting Code for animation*/
#body.home .header div div img {
 position: relative;
  width: 200px;
  height: 200px;
}

 .x {
         position: absolute;
         transform: translate(0px,-200px);
		 animation: x 10s linear infinite alternate;

	}

 .x2 {
         position: absolute;
         transform: translate(0px,-550px) rotate(100deg);
		 animation: x 8s linear infinite alternate;
	}
 .y {
		animation: x 3s linear infinite alternate;
	}
.y2 {
		animation: y 3s linear infinite alternate;
		transform: rotate(90deg);

	}
 @keyframes x {
		 100% { transform: translateX(calc(50vw - 350px))}}
 @keyframes y {
	 	100% { transform: translateY(calc(55vh - 350px));}
}


#body.home .body {
	background-color: chocolate;
	margin: 0;
	min-height: 168px;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#body.home .body div {
	margin: 0 auto;
	max-width: 940px;
	overflow: hidden;
	padding: 31px 10px 0;
}
#body.home .body div h1 {
	color: #FFFFFF;
	display: block;
	font-family: audiowide-regular-webfont;
	font-size: 32px;
	font-weight: normal;
	line-height: 32px;
	margin: 0 auto 24px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 780px;
}
#body.home .body div p {
	color: #ffffff;
	display: block;
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 780px;
}
#body.home .body div p a {
	color: #ffffff;
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 auto;
	padding: 0;
	text-decoration: underline;
}
#body.home .body div p a:hover {
	color: #a3a3a3;
}
#body.home .footer {
	background-color: #000000;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#body.home .footer div {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 32px 0 16px;
}
#body.home .footer div ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: auto;
}
#body.home .footer div ul li:first-child {
	float: left;
	margin: 0 10px;
	padding: 0;
	width: 460px;
}
#body.home .footer div ul li {
	float: left;
	margin: 0 0 0 10px;
	padding: 0 0 0 20px;
	width: 440px;
}
#body.home .footer div ul li h1 {
	color: #FFFFFF;
	font-family: audiowide-regular-webfont;
	font-size: 32px;
	font-weight: normal;
	line-height: 32px;
	margin: 0 0 44px;
	padding: 0;
	text-align: left;
	text-transform: uppercase;
	width: auto;
}

#body.home .footer div ul li p{
	color: chocolate;
	display: block;
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 auto;
	padding-top: 30px;
	text-align: left;
	width: 780px;
}
/*----------------------------------------Top Games Page---------------------------------------*/
#body.topgames .header {
	background: url(../images/stars.jpg) repeat center top #000000;
	margin: 0;
	min-height: 455px;
	padding: 0;
	width: 100%;
}
#body.topgames .header div, #body .header div {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 65px 0 40px;
}
#body.topgames .header div h1, #body .header div h1 {
	background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
  	background-size: 800% 800%;
  	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
  	font-size: 24px;
  	animation: rainbow 8s ease infinite;
	color: #FFFFFF;
	display: block;
	font-family: audiowide-regular-webfont;
	font-size: 36px;
	font-weight: normal;
	line-height: 36px;
	margin: 0 auto 87px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}

#body.topgames .header div h2 {
	color: #FFFFFF;
	display: block;
	font-family: audiowide-regular-webfont;
	font-size: 32px;
	font-weight: normal;
	line-height: 32px;
	margin: 0 auto 24px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 820px;
}

#body.topgames .header div p {
	color: #ffffff;
	display: block;
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 820px;
}
#body.topgames .header div p a {
	color: #ffffff;
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}
#body.topgames .header div p a:hover {
	color: #a3a3a3;
}
#body.topgames .body {
	background-color: #620031;
	margin: 0;
	min-height: 253px;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#body.topgames .body div {
	margin: 0 auto;
	max-width: 940px;
	overflow: hidden;
	padding: 36px 10px 35px;
}
#body.topgames .body div h2 {
	color: #A3A3A3;
	float: left;
	font-family: audiowide-regular-webfont;
	font-size: 23px;
	font-weight: normal;
	line-height: 23px;
	margin: 18px 0 26px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 620px;
}
#body.topgames .body .game {
	transform: translate(-570px,110px);
	background-color: #A3A3A3;
	border: medium none;
	color: #000000;
	display: block;
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
	height: 43px;
	line-height: 43px;
	margin: 0 0 29px;
	padding: 0 0 0 20px;
	text-align: left;
	text-transform: uppercase;
	width: 200px;

}

#body.topgames .body .submit {
	transform: translate(-420px,-100px);
	background-color: chocolate;
	color: white;
	cursor: pointer;
	display: block;
	float: right;
	font-family: Arial;
	font-size: 50px;
	font-weight: normal;
	height: 100px;
	line-height: 31px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 120px;
	border: none;
}

#body.topgames .body .submit:hover {
	background-color: brown;
}

#body.topgames .footer div {
	margin: 0 auto;
	overflow: hidden;
	padding: 79px 0 0 10px;
	width: 950px;
	height: 400px;
}
#body.topgames .footer div h2 {
	color: #A3A3A3;
	float: right;
	font-family: audiowide-regular-webfont;
	font-size: 18px;
	font-weight: normal;
	line-height: 23px;
	margin: 34px 0 24px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 557px;
	position: absolute;
	transform: translate(120px,-60px);
}
#body.topgames .footer div .vert {
	color: brown;
	display: block;
	font-family: audiowide-regular-webfont;
	font-size: 15px;
	font-weight: lighter;
	line-height: 24px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 557px;
	transform: rotate(-90deg) translate(-145px,-480px);
}


#body.topgames .footer .graph {
	position: absolute;
	color: white;
	transform: translate(0px,-165px) scaleX(0.9);
	z-index: 1;
}

#body.topgames .footer div .hor {
	color: brown;
	display: block;
	font-family: audiowide-regular-webfont;
	font-size: 12px;
	font-weight: lighter;
	line-height: 24px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 680px;
	transform: translate(60px,300px);
}


#body.topgames .footer div .date {
	position: relative;
	color: brown;
	display: block;
	font-family: audiowide-regular-webfont;
	font-size: 18px;
	font-weight: lighter;
	line-height: 24px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 557px;
	transform: translate(30px,320px);
}

#body.topgames .section {
	background-color: #3c0f38;
	margin: 0;
	min-height: 234px;
	padding: 0;
	width: auto;
}
#body.topgames .section div {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 58px 0 55px;
}
#body.topgames .section div h2 {
	color: #A3A3A3;
	display: block;
	font-family: audiowide-regular-webfont;
	font-size: 22px;
	font-weight: normal;
	line-height: 23px;
	margin: 0 auto 26px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 780px;
	position: absolute;
}

#body.topgames .section div p {
	color: chocolate;
	display: block;
	font-family: audiowide-regular-webfont;
	font-size: 18px;
	font-weight: normal;
	line-height: 23px;
	margin: 0 auto 26px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 780px;
	position: absolute;
}
#body.topgames .section div p a {
	color: #ffffff;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}

/* Future Worldwide Sensations page*/

#body.topgames .body .inputs {
	background-color: #A3A3A3;
	border: medium none;
	color: #000000;
	display: block;
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
	height: 43px;
	line-height: 43px;
	margin: 0 0 29px;
	padding: 0 0 0 20px;
	text-align: left;
	text-transform: uppercase;
	width: 200px;

}

#body.topgames .body .select {
	background-color: #A3A3A3;
	border: medium none;
	color: #000000;
	display: block;
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
	height: 43px;
	line-height: 43px;
	margin: 0 0 29px;
	padding: 0 0 0 20px;
	text-align: left;
	text-transform: uppercase;
	width: 200px;

}



#body.topgames .statDisplay{
	background: black;
	color: chocolate;
	display: block;
	font-family: audiowide-regular-webfont;
	font-size: 18px;
	font-weight: normal;
	line-height: 23px;
	margin: 0 auto 26px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 780px;
	position: relative;
}

#body.topgames .top10{
	background-color: chocolate;
	display: block;
	font-family: audiowide-regular-webfont;
	font-size: 18px;
	font-weight: normal;
	line-height: 23px;
	margin: 0 auto 26px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	position: relative;
	height:440px;
}
#body.topgames .top10 h2{
	color: #010101;
	position: absolute;
	transform: translate(240px,10px);
}

#body.topgames .top10 p{
	color: #3c0f38;
	font-size: 28px;
	margin-bottom: 0px;
	position: absolute;
	transform: translate(220px,30px);
}



/* Contact Us Page */

#body .header .contact h2 {
	color: #A3A3A3;
	display: block;
	font-family: audiowide-regular-webfont;
	font-size: 23px;
	font-weight: normal;
	line-height: 23px;
	margin: 0 auto;
	padding: 8px 0 62px;
	text-align: center;
	text-transform: uppercase;
	width: 500px;
}
#body .header div form {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 461px;
}
#body .header div form input {
	background-color: #A3A3A3;
	border: medium none;
	color: #000000;
	display: block;
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	height: 43px;
	line-height: 43px;
	margin: 0 0 29px;
	padding: 0 0 0 20px;
	text-align: left;
	text-transform: uppercase;
	width: 441px;
}
#body .header div form textarea {
	background-color: #A3A3A3;
	border: medium none;
	color: #000000;
	display: block;
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	height: 98px;
	line-height: 24px;
	margin: 0 0 31px;
	overflow: auto;
	padding: 15px 0 0 20px;
	resize: none;
	text-align: left;
	text-transform: uppercase;
	width: 441px;
}
#body .header div form input#submit {
	background-color: #3c0f38;
	color: #ffffff;
	cursor: pointer;
	display: block;
	float: right;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	height: 31px;
	line-height: 31px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 120px;
}
#body .header div form input#submit:hover {
	background-color: #620031;
}

/*----------------------------------------footer-styles---------------------------------------*/
#footer {
	margin: 0;
	padding: 0;
	width: 100%;
}
#footer .connect {
	background-color: #a3a3a3;
	margin: 0;
	min-height: 84px;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#footer .connect div {
	margin: 0 auto;
	overflow: hidden;
	padding: 24px 0 0;
	transform: translate(-200px,0);
	width: 100%
}
#footer .connect div h1 {
	color: #FFFFFF;
	float: left;
	font-family: audiowide-regular-webfont;
	font-size: 23px;
	font-weight: normal;
	line-height: 23px;
	margin: 0;
	padding: 8px 25px 0 0;
	text-align: right;
	text-transform: uppercase;
	transform: translate(400px);
}
#footer .connect .links{
	font-family: audiowide-regular-webfont;
	font-size:23px;
	color: blue;
	position: relative;
	left:400px;
	top: 5px;
}

#footer .footnote {
	background-color: #FFFFFF;
	margin: 0;
	min-height: 84px;
	overflow: hidden;
	padding: 0;
	width: auto;
}
#footer .footnote div {
	margin: 0 auto;
	overflow: hidden;
	padding: 34px 0 0;
	width: 960px;
}
#footer .footnote div p {
	color: #000000;
	display: block;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 940px;
}
